* {
  box-sizing: border-box;
  margin:0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--light);
}

button {
  height: 100px;
  width: 200px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--dark);
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
  border: 1px solid var(--dark);
  transition: color .3s ease, background-color .3s ease;
}

button:hover {
  background-color: var(--dark);
  color: var(--light);
}

p {
  padding: 20px;
  border: 1px solid var(--dark);
  margin-bottom: 20px;
}